<% extend('../master.ejs') %>

<div class="container-fluid main-content">
  <div class="row content">
      <%- include('./sections/leftSide.ejs') %>
      <%- include('./sections/rightSile.ejs') %>
  </div>
</div>